 <form hx-post = '/rate/movie/' hx-trigger = 'change' hx-target='find .success'>
  <div class='success mb-1'>Rating updated</div>
    {% if movie_id %}
      <input type = 'hidden' value='{{movie_id}}' name='movie_id'/> 
    {% endif %}
    <select name = 'rating_value' class="form-control">
            {% for choice in rating_choices %} {% if choice is None %}
            <option value="{{my_rating}}" selected>Choose score</option>
            {% else %}
            <option {% if my_rating == choice %} selected {% endif %} value="{{choice}}">{{choice}}</option>
            {% endif %}
            {% endfor %}
    </select>
</form>