{% load get_dict_val_tag %}
<div class="card mb-4 box-shadow p-4">
  <h3>{{movie.title}}</h3>
  {% with my_ratings|get_dict_val_tag:movie.id as my_rating %}
  <div class="overflow-auto">{{movie.description}}</div>
  <div class="card-body">
    <p class="card-text">{{movie.overview}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          <a href="{{movie.get_absolute_url}}"> View</a>
        </button>
      </div>
      <div>
        <select class="form-control">
          {% for choice in rating_choices %} {% if choice is None %}
          <option value="my_rating" selected>Choose score</option>
          {% else %}
          <option {% if my_rating == choice %} selected {% endif %}value="option">{{choice}}</option>
          {% endif %} {% endfor %}
        </select>
        {% if movie.rating_count is not None %}
        <small class="text-muted"
          >{{movie.rating_avg}} ({{movie.rating_count}})</small
        >
        {% endif %}
      </div>
    </div>
  </div>
  {% endwith %}
</div>
 